
<h2>Welcome to Angular 5 Demo App</h2>

<div>
  <h3>This is a simple User Management SPA</h3>
  <ul>
    <li>It list existing users</li>
    <li>Edit/Delete users</li>
    <li>Add new users</li>
  </ul>
</div>

<div>
  <h3>What Features of Angular are used</h3>
  <ul>
    <li>Routing</li>
    <li><span [appHighlightMe]="lazyHighlightOptions">{{"lazy Loading" | firstLetterUppercase}}</span></li>
    <li>Reactive Forms</li>
    <li>Sharing data between components through <span [appHighlightMe]="{color: 'orange'}">RxJs</span></li>
  </ul>
</div>
